// for form inputs styles
// use custom widths in respective components
.form-inputs {
  margin: 0.25em 0;
  padding: 0.7em;
  border-radius: 0.25em;
  border: 1px gray solid;
  background-color: white;
  height: 2.9em;
  font-family: $main-font;
}
