/*Variables*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

$bg-color: #fff;
$main-font: "Open Sans";

// colors from wireframe:
/* $primary-color: #266294; //blue */
/* $secondary-color: #ffd100; //yellow */

$primary-color: #833f76; // purple
$secondary-color: #e6b833; // yellow from logo
$lightest-color: #f8f8f8; //lightest gray
$light-color: #dadada; //lighter grey - for secondary buttons
$accent-color: #ff4137; //red -- delete button in JobForm & OrganizationForm
$tertiary-color: #f4b4a4;

$phone-media-max: "770px";

@function set-text-color($bg-color) {
  @if (lightness($bg-color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
