@import "_variables.scss";

body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $main-font;
  background: $bg-color;
  color: set-text-color($bg-color);
}

h2 {
  color: $primary-color;
}

a {
  text-decoration: none;
  color: set-text-color($primary-color);
}

.link {
  color: set-text-color($primary-color);
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
}

button:hover {
  cursor: pointer;
}

.header {
  background-color: $primary-color;
  display: flex;
  width: 100%;
  border-bottom: 3px solid $secondary-color;
}
