body{background-color: lightblue;}
#top{
    background-color: #6cc0ac;
    color: #ffffff;
    position: relative;
    top: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    font-size: xx-large;
}
