@import "../_variables.scss";

/* Recent job postings styling */
.recent-postings-container {
  width:100%;
  margin-top:2em;
  ul{
    list-style: none;
    margin-right: 40px;
    li {
      margin-bottom: 10px;
    }
  }
}

.recent-postings-title {
  padding-left:1em;
}

.posting-card {
  display:flex;
  align-items: center;
  align-content: space-around;
  width: calc(100% - 2em);
  height: 200px;
  margin:0em 2em;
  border:1px solid gray;
  border-radius:0.2em;
  box-shadow: 8px 8px 6px -6px gray;
}

%shared-padding {
  padding: 0 15px;
}

.posting-content {
  display:flex;
  flex-direction:row;
  align-items:center;
}

.left-posting {
  @extend %shared-padding;
}

.middle-posting {
  height: 100px;
  display:flex;
  flex-direction: column;
  overflow-y: hidden;
  @extend %shared-padding;
}

h4 {
  margin:0.3em 0;
  padding:0;
}

#posting-img {
  width:90%;
  padding:0.5em;
  border:0.5px solid gray;
}

.right-posting {
  display:flex;
  flex-direction: center;
  height:100%;
  justify-content: flex-end;
  @extend %shared-padding;
  #view-more-btn {
    font-family: $main-font;
    font-weight: bold;
    padding:1em 2em;
    background:$secondary-color;
    border-radius: 0.4em;
    border: 1px $secondary-color solid;
    &:hover {
      cursor: not-allowed;
    }
  }
}

@media screen and (max-width: 550px){
  .recent-postings-container {
    ul {
      padding: 0;
      .posting-card {
        height: 250px;
      }
      .posting-content {
        flex-direction: column;
        p {
          text-align: center;
        }
        .left-posting {
          h3 {
            text-align: center;
          }
        }
        .middle-posting {
          h4 {
            text-align: center;
          }
        }
        padding: 6px;
      }
    }
  }
}

@media screen and (max-width: 450px){
  .recent-postings-container {
    ul {
      padding: 0;
      .posting-content {
        padding: 20px;
      }
    }
  }
}