html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 80vw;
  height: 80vh;
  padding: 10px;
  background-color: white;
  overflow: scroll;
  border-radius: 5px;
  box-shadow: 0px 0px 80px 0 rgb(100, 100, 100);
}

#modal-root {
  position: relative;
  z-index: 999;
}
