@import "../_variables.scss";

.banner {
  background-position: left;
}

.orgs-intro {
  margin: 0 75px;
  .intro-h2 {
    position: relative;
    font-size: 1.8em;
    margin-bottom: 0;
    font-weight: bolder;
    &:after {
      display: inline-block;
      margin: 0 20px 8px 0;
      height: 5px;
      content: " ";
      text-shadow: none;
      background-color: $secondary-color;
      width: 140px;
      position: absolute;
      bottom: -20px;
      left: 0;

    }
  }
}