@import "../_variables.scss";

/* Search section styling */
.search-container {
    width:100%;
    align-items: center;
    padding-top: 4.5em;
    padding-bottom: 5em;
    text-align: center;
    background: url('../LA-landscape.jpg');
    background-position: 5% 40%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    h1{
      margin: 0 auto;
    }
}

.search {
    display:flex;
    justify-content: space-around;
    flex-flow: wrap;
    flex-direction: row;
    text-align:left;
    h3 {
      font-size: .9em;
    }
}

.keyword-search, .location-search {
  width: 200px;
}

.search-input, .location-input {
    width: 100%;
    padding: 1em;
    border-radius: 0.25em;
    border: 1px white solid;
    font-family: $main-font;
}

.keyword-search, .location-search, .search-btn-content-container {
  margin: 10px;
}

.search-btn {
    width:100%;
    padding:1em;
    border-radius:0.4em;
    border:1px solid $secondary-color;
    background: $secondary-color;
    color: #111;
    font-family: $main-font;
}

.search-btn-content-container {
  margin:10px;
    width: 75px;
}

@media screen and (max-width: 490px){
  .search-btn-content-container {
    padding: 0 80px;
  }
}

@media screen and (min-width: 700px){
    .search {
        margin: auto;
        width: 730px;
    }
}