/*Variables*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body, html {
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  background: #fff;
  color: #000; }

a {
  text-decoration: none;
  color: #fff; }

p {
  margin: 0;
  padding: 0; }

/* Navigation bar*/
.navbar {
  background: #266294;
  /* Hide the link that should open and close the topnav on small screens */ }
  .navbar .icon {
    display: none; }

.org {
  height: 100px;
  width: 260px; }

#org-image {
  width: 260px;
  height: 100%; }

.jobs, .about, .contact, .organizations {
  font-size: .8em;
  padding: 1em 1em;
  color: #fff;
  text-align: center; }
  .jobs:hover, .about:hover, .contact:hover, .organizations:hover {
    color: #f00; }

.active {
  padding-bottom: 0.3em;
  border-bottom: 0.2em #ffd500 solid; }

/* Search section styling */
.search-container {
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 4.5em;
  padding-bottom: 5em;
  text-align: center;
  background: gray;
  background-repeat: no-repeat;
  background-size: cover;
  color: white; }
  .search-container h1 {
    margin: 0 auto; }

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: left; }
  .search h3 {
    font-size: .9em; }

.search-input, .location-input {
  width: 200px;
  padding: 1em;
  border-radius: 0.25em;
  border: 1px white solid;
  font-family: "Open Sans"; }

.keyword-search, .location-search, .search-btn-content-container {
  margin: 10px; }

.search-btn {
  width: 100%;
  padding: 1em;
  border-radius: 0.4em;
  border: 1px solid #ffd500;
  background: #ffd500;
  color: #111;
  font-family: "Open Sans"; }

.search-btn-content-container {
  margin: 10px;
  width: 75px; }

/* Category styling */
.category-title {
  text-align: center; }

.categories-head-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.category-head-container {
  width: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  margin: 1.5em; }

#heart-head-img {
  height: 4em;
  border-radius: 50%; }

.postings-content-container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

/* Filter side-bar stylings */
.filter-bar-container {
  height: 100%;
  /* Full-height: remove this if you want "auto" height */
  width: 300px;
  /* Set the width of the sidebar */
  top: 10em;
  margin-top: 1.235em;
  padding-left: 1em;
  background-color: #ddd; }

.filter-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.filter-criteria {
  padding: 0.5em; }

#filters-title {
  padding: 0.5em; }

.distance-selector {
  margin-top: 0.25em;
  padding: 0.75em;
  border-radius: 0.25em;
  border: 1px gray solid; }

/* Recent job postings styling */
.recent-postings-container {
  width: 100%;
  margin-top: 2em; }

.recent-postings-title {
  padding-left: 1em; }

.posting-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  width: calc(100% - 2em);
  height: 12em;
  margin: 0em 2em;
  border: 0.4px solid gray;
  border-radius: 0.2em;
  -webkit-box-shadow: 8px 8px 6px -6px gray;
  box-shadow: 8px 8px 6px -6px gray; }

.posting-content {
  padding-left: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.left-posting {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.middle-posting {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0em 1em;
  margin-top: 5px; }

h4 {
  margin: 0.3em 0;
  padding: 0; }

#posting-img {
  width: 90%;
  padding: 0.5em;
  border: 0.5px solid gray; }

.right-posting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: center;
  flex-direction: center;
  width: 25%;
  height: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

#view-more-btn {
  font-family: "Open Sans";
  font-weight: bold;
  margin-right: 3.5em;
  padding: 1em 2em;
  background: #ffd500;
  border-radius: 0.4em;
  border: 1px #ffd500 solid; }

/* Footer contact section styling */
.footer {
  height: 100%;
  width: 100vw;
  padding: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background: #266294;
  color: #fff; }

.footer-content {
  height: 100%;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.org-icon {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

#org-icon {
  width: 35%; }

.quick-links-content {
  margin-left: 25%;
  margin-right: 25%; }

.link {
  padding-top: 1em;
  font-weight: 100; }

.social-media-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

.social-media-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

#social-media-btn {
  height: 3em;
  margin: 0.2em;
  border-radius: 50%;
  border: 1px white solid; }

#contact-email {
  font-weight: 100;
  margin-bottom: 1em; }

#contact-address {
  font-weight: 100; }

/* Media Queries */
@media screen and (max-width: 490px) {
  .search-btn-content-container {
    padding: 0 80px; } }

@media screen and (min-width: 700px) {
  .navbar {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .search {
    margin: auto;
    width: 730px; }
  .left-posting h3 {
    margin: 10px; } }

@media screen and (max-width: 910px) {
  .posting-card {
    min-width: 300px;
    overflow-x: scroll; }
  .left-posting h3 {
    width: 189px; }
  .middle-posting {
    width: 300px; } }

@media screen and (min-width: 930px) {
  #posting-img {
    width: 179px; } }

/* Responsive navbar <699 pixels wide, hide all links. Show the link that contains should open and close the navbar (.icon) */
@media screen and (max-width: 699px) {
  .navbar {
    position: reltive; }
    .navbar a:not(:first-child) {
      display: none; }
    .navbar a.icon {
      position: absolute;
      right: 20px;
      top: 35px;
      display: block;
      font-size: 25px; } }

/* Add 'responsive' class to navbar with JS when user clicks on the icon.*/
@media screen and (max-width: 699px) {
  .navbar.responsive {
    position: relative; }
    .navbar.responsive a.icon {
      position: absolute;
      right: 20px;
      top: 35px; }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left; } }
