<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel = "stylesheet" type="text/css" href="../static/css/index.css"/>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- Font-Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Jobs for Hope</title>
</head>

<body>
    <!-- Navigation bar -->
    <header>
        <nav class="navbar" id='myNavbar'>
            <div class="org">
                <img id="org-image" src = "http://dpss.lacounty.gov/wps/wcm/connect/ec46eaad-0452-4c31-8087-4d703908fff5/1/unspecified-3.png?MOD=AJPERES&CACHEID=ec46eaad-0452-4c31-8087-4d703908fff5/1" />
            </div>
            <a href ="/jobs" class="jobs"><h2 class="active"> Jobs </h2> </a>

            <a href="/organizations" class="organizations"><h2> Organizations </h2></a>

            <a href="/about" class="about"><h2> About </h2></a>

            <a href ="/contact" class="contact">
                <h2> Contact </h2> </a>

            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </nav>
    </header>

    <!--Search portion of the UI-->
    <section role="search" class="search-container">

        <h1> Join the fight against homelessness in Los Angeles</h1>

        <form class="search">

            <div class="keyword-search">

                <div class="search-words-title">

                <h3> Housing/Homeless Jobs</h3>

                </div>

                <div class="search-words-container">

                    <input type="text" class="search-input" value=""  name="keywords" placeholder="Job Title or Keywords" />

                </div>

            </div>

            <div class="location-search">

                <div class="search-words-title">

                <h3> Location</h3>

                </div>

                <div class="location-container">

                    <input type="text" value="" class="location-input" name="location" placeholder="City or ZIP" />

                </div>

            </div>

            <div class="search-btn-content-container">

                <div class="search-btn-title">

                    <h3> Explore</h3>

                </div>

                <div class="search-btn-container">

                    <button type="button" value="done" class="search-btn" onClick="searchField()">Search</button>

                </div>

            </div>

        </form>

    </section>

<!-- populate search results from API data here-->

    <!-- Categories of jobs available and clickable links to each category -->
    <section role="application" class="category-container">

        <div class="category-title">

            <h2> Search Jobs By Category</h2>

        </div>

        <div class="categories-head-container">

            <div class="category-head-container">

                <img id="heart-head-img" src="https://cdn2.iconfinder.com/data/icons/creative-head/100/Head__1-512.png" />
                <p class="category-type"> Housing </p>
                <p class="number-jobs"> 25 Jobs</p>

            </div>


            <div class="category-head-container">

                <img id="heart-head-img" src="https://cdn2.iconfinder.com/data/icons/creative-head/100/Head__1-512.png" />
                <p class="category-type"> Management </p>
                <p class="number-jobs"> 25 Jobs</p>

            </div>


            <div class="category-head-container">

                <img id="heart-head-img" src="https://cdn2.iconfinder.com/data/icons/creative-head/100/Head__1-512.png" />
                <p class="category-type"> Accounting </p>
                <p class="number-jobs"> 25 Jobs</p>

            </div>


            <div class="category-head-container">

                <img id="heart-head-img" src="https://cdn2.iconfinder.com/data/icons/creative-head/100/Head__1-512.png" />
                <p class="category-type"> Operations </p>
                <p class="number-jobs"> 25 Jobs</p>

            </div>


            <div class="category-head-container">

                <img id="heart-head-img" src="https://cdn2.iconfinder.com/data/icons/creative-head/100/Head__1-512.png" />
                <p class="category-type"> Mental Health </p>
                <p class="number-jobs"> 25 Jobs</p>

            </div>


        </div>

    </section>


    <!-- Job posting section-->
    <section class="postings-content-container">
        <aside class="filter-bar-container">

            <b><p id="filters-title"> FILTERS</p></b>

            <div class="distance filter-criteria">

                <p> Distance</p>
                <select class="distance-selector">

                    <option>5 miles</option>

                    <option>10 miles</option>

                    <option>15 miles</option>

                    <option>20+ miles</option>

                </select>

            </div>

            <div class="employment-type filter-criteria">

                <p> Employment Type</p>

                <div class="filter-options">
                    <input name="full-time" type="checkbox" />
                    <p> Full Time (14)</p> <br>
                </div>

                <div class="filter-options">
                    <input name="part-time" type="checkbox" />
                    <p> Part Time (14)</p> <br>
                </div>

            </div>

            <div class="department-type filter-criteria">

                <p> Department Type</p>

                <div class="filter-options">
                    <input name="housing" type="checkbox" />
                    <p> Housing (14)</p> <br>
                </div>

                <div class="filter-options">
                    <input name="management" type="checkbox" />
                    <p> Management (14)</p> <br>
                </div>

                <div class="filter-options">
                    <input name="operations" type="checkbox" />
                    <p> Operations (14)</p> <br>
                </div>

                <div class="filter-options">
                    <input name="accounting" type="checkbox" />
                    <p> Accounting (14)</p> <br>
                </div>

                <div class="filter-options">
                    <input name="human-resources" type="checkbox" />
                    <p> Human Resources (14)</p> <br>
                </div>

            </div>

            <div class="salary-range filter-criteria">

                <p> Salary Range</p>

                <div class="filter-options">
                    <input name="20000" type="checkbox" />
                    <p> $20,000 (14)</p> <br>
                </div>

                <div class="filter-options">
                    <input name="30000" type="checkbox" />
                    <p> $30,000 (14)</p> <br>
                </div>

                <div class="filter-options">
                    <input name="40000" type="checkbox" />
                    <p> $40,000 (14)</p> <br>
                </div>

                <div class="filter-options">
                    <input name="50000" type="checkbox" />
                    <p> $50,000 (14)</p> <br>
                </div>

                <div class="filter-options">
                    <input name="60000" type="checkbox" />
                    <p> $60,000 (14)</p> <br>
                </div>

            </div>

            <div class="experience-level filter-criteria">

                <p> Experience Level</p>

                <div class="filter-options">
                    <input name="entry-level" type="checkbox" />
                    <p> Entry Level (14)</p> <br>
                </div>

                <div class="filter-options">
                    <input name="mid-level" type="checkbox" />
                    <p> Mid Level (14)</p> <br>
                </div>

                <div class="filter-options">
                    <input name="senior-level" type="checkbox" />
                    <p> Senior Level (14)</p> <br>
                </div>

            </div>

        </aside>

        <section role="tablist"  class="recent-postings-container">

            <h2 class="recent-postings-title"> Recent Job Postings</h2>

            <div class="posting-card">

                <div class="posting-content">

                    <div class="left-posting">
                        <h3> Housing Manager </h3>
                        <div class = "posting-image-container">

                            <img id="posting-img" src = "http://1minutereel.com/wp-content/uploads/2015/11/AHH_logo_color.jpg" />

                        </div>

                        <div class="posting-location-duration">

                            <p> Los Angeles, 90041 | Full- Time</p>
                            <p> Posted Today</p>

                        </div>
                    </div>

                    <div class="middle-posting">

                            <h4> Alliance for Housing and Healing</h4>
                            <p> Alliance is currently seeking a Housing Manager who will be responsible for maintaining positive relationships with landlords to assist with housing...</p>
                    </div>

                    <div class="right-posting">

                        <button id="view-more-btn" type="button">View more</button>

                    </div>

                </div>

            </div>
        </section>
    </aside>

    <!-- Footer-->
    <footer class = "footer">

        <div class = "org-icon footer-content">

            <img id="org-icon" src="http://homeless.lacounty.gov/wp-content/uploads/2017/01/homeless_initiative_logo.png" />

        </div>

        <div class = "quick-links-footer footer-content">

            <div class="quick-links-content">
                    <h3> Quick Links</h3>
                    <h4 class = "link"> <a href="/about"> About Us </a></h4>
                    <h4 class = "link"> <a href="/contact">Contact Us</a></h4>
                    <h4 class = "link"> <a href="/organizations"> Organizations</a> </h4>
            </div>

        </div>

        <div class = "social-media-footer footer-content">

            <h3> Follow Us</h3>

            <div class="social-media-btn-container">

                <div class="social-media-btn">

                    <img id="social-media-btn" src = "http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c53e.png" />

                </div>

                <div class="social-media-btn">

                    <img id="social-media-btn" src = "http://www.transparentpng.com/download/logo-instagram/Sj4fEy-instagram-png-logo-high-quality.png" />

                </div>

            </div>

        </div>

        <div class = "contact-footer footer-content">

            <h3> Contact Us</h3>
            <h4 id="contact-email"> homelessinitiative@lacounty.gov</h4>

            <h4 id="contact-address"> 500 W. Temple Street, Room 493</h4>
            <h4 id="contact-address"> Los Angeles, CA 90012</h4>

        </div>

    </footer>


<!-- Javascript file-->
    <script type="text/javascript" src="../static/js/index.js"></script>
</body>
</html>
