@import "_variables.scss";

body,html {
    width: 100%;
    margin:0;
    padding:0;
    font-family: $main-font;
    background: $bg-color;
    color: set-text-color($bg-color);
}

a  {
    text-decoration: none;
    color: set-text-color($primary-color);
}

p  {
    margin:0;
    padding:0;
}

.header {
  background-color: $primary-color;
  .navbar {
    font-size: calc(10px + 1.5vmin);
    #org-image {
      width: 100%;
      max-width: 414px;
    }
    ul {
      margin: 0;
      padding: 0;
      width: 100%;
      max-width: 550px;
      display: flex;
      justify-content: space-around;
      li {
        margin: 15px;
        list-style: none;
      }
      .link {
        color: set-text-color($primary-color);
        text-decoration: none;
        &.active {
          border-bottom: 0.2em $secondary-color solid;
        }
      }
    }
  }
}