@import "_variables.scss";

body,html {
    width: 100%;
    margin:0;
    padding:0;
    font-family: $main-font;
    background: $bg-color;
    color: set-text-color($bg-color);
}

a  {
    text-decoration: none;
    color: set-text-color($primary-color);
}

p  {
    margin:0;
    padding:0;
}

.header {
  background-color: $primary-color;
  .navbar {
    font-size: calc(10px + 1.5vmin);
    #org-image {
      width: 100%;
      max-width: 414px;
    }
    ul {
      margin: 0;
      padding: 0;
      width: 100%;
      max-width: 550px;
      display: flex;
      justify-content: space-around;
      li {
        margin: 15px;
        list-style: none;
      }
      .link {
        color: set-text-color($primary-color);
        text-decoration: none;
        &.active {
          border-bottom: 0.2em $secondary-color solid;
        }
      }
    }
  }
}

.footer {
   position:fixed;
   bottom:0px;
   width:100%;
    padding: .5em 0;
    background: $primary-color;
    color: set-text-color($primary-color);
    display: grid;
    // align-items: start;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
    ". i i l l s s c c c . ."
}


.org-icon {
  grid-area: i;
  align-self: center;
}

#org-icon {
  width: 70%;
}

.quick-links-footer {
  grid-area: l;
    h3 {
    margin:0;
  }
}

.social-media-footer {
  grid-area: s;
  h3 {
    margin:0;
  }
}

.social-media-btn-container {
  display: flex;
}

#social-media-btn {
    height:3em;
    margin:0.2em;
    border-radius:50%;
    border:1px white solid;
}

.contact-footer {
  grid-area: c;
  h3 {
    margin:0;
  }
}

@media screen and (max-width: 770px){
  .footer {
    grid-template-areas:
    ". i i . . s s s s . . ."
    ". l l l . c c c c . . ."
  }
  .org-icon {
    display: grid;
    align-items: center;
  }
}

@media screen and (max-width: 450px){
  .footer {
    justify-items: center;
    text-align: center;
    grid-template-areas:
    ". i i s s s s s l l l l "
    "c c c c c c c c c c c c"
  }
  #org-icon {
    width: 100%;
  }
  .org-icon {
    justify-items: center;
  }
}