@import "../_variables.scss";

.account-container {
	min-height: 80vh;
	padding-left: 5%;
	padding-top: 1em;
}

.account-container h1 {
	color: $primary-color;
}
table {
	border-collapse: collapse;
}
.request-container {
	border-top: 1px solid $primary-color;	
}

.request-item {
	padding: 1em;
	border-top: 1px solid $primary-color;
}

.table-header {
	padding: 1em;
}

.approve-btn {
  font-family: $main-font;
  font-weight: bold;
  font-size: 1em;
  padding: 0.3em 2.2em;
  background: $secondary-color;
  border-radius: 0.4em;
  border: 1px $secondary-color solid;
}

