@import "../variables.scss";
@import "../partials.scss";

table {
  border-collapse: collapse;
}
.request-container {
  border-top: 1px solid $primary-color;
}

.request-item {
  padding: 1em;
  border-top: 1px solid $primary-color;
}

.table-header {
  padding: 1em;
}

.approve-btn {
  font-family: $main-font;
  font-weight: bold;
  font-size: 1em;
  padding: 0.3em 2.2em;
  background: $secondary-color;
  border-radius: 0.4em;
  border: 1px $secondary-color solid;
}

.org-control {
  width: 620px;
}

.org-select {
  margin-bottom: 2em;
}

#org-buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#org-edit-button {
  @extend %button-shared;

  border: 1px $light-color solid;
  background: $light-color;
}

#org-details-button {
  @extend %button-shared;

  border: 1px $secondary-color solid;
  background: $secondary-color;
}

#org-details-button:hover,
#org-edit-button:hover {
  opacity: 0.75;
}
