@import "../_variables.scss";

h1 {
  margin: 0;
  padding: 0;
}

.banner {
  position: relative;
  display: flex;
  align-items: center;
  height: 33vh;
  min-height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}

.banner-title {
  position: absolute;
  padding: 0 10px;
  width: 100%;
  font-weight: bolder;
  color: $bg-color;
  font-size: 2em;
}

.banner::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(42, 39, 39, 0.4), rgba(42, 39, 39, 0.4));
  content: "";
}

@media screen and (min-width: 576px) {
  .banner {
    background-size: cover;
    background-position-y: 100%;
  }

  .banner-title {
    padding: 0 30px;
  }
}

@media screen and (min-width: 768px) {
  .banner {
    height: 33vh;
    background-size: cover;
    background-position-y: 100%;
  }

  .banner-title {
    font-size: 4em;
    padding-left: 75px;
    padding-right: 75px;
  }
}
