@import "../_variables.scss";

.filters-postings-wrapper {
  display: flex;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1.3em 0em;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 200px;
}

.org-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
  margin: 0 1em 0 0;
}

#org-icon {
  height: 75%;
}

.quick-links-footer {
  margin: 0 6em 0 1em;
}

.contact-footer {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

@media screen and (max-width: 770px) {
  .footer {
    height: 125px;
  }

  .org-icon {
    align-items: center;
  }
}

@media screen and (max-width: 765px) {
  .filters-postings-wrapper {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: $phone-media-max) {
  .header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    width: 100%;
    height: 90px;
  }

  .footer {
    justify-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: center;
  }

  #org-icon {
    width: 100%;
  }

  .org-icon {
    justify-items: center;
    display: none;
  }

  .quick-links-footer {
    display: none;
  }

  .contact-footer {
    align-items: center;
    justify-content: center;
  }
}
