@import "../_variables.scss";
@import "../partials.scss";

.filter-bar-container {
  width: 350px;
  height: auto;
  top: 0px;
  padding: 1em;
  background-color: $lightest-color;
  display: flex;
  flex-direction: column;
}

.filter-options {
  display: flex;
}

.filter-column {
  padding: 0 0.5em;
}

.filter-title {
  padding: 0.5em 0;
  font-weight: 900;
}

.distance-selector,
.region-selector,
.organization-selector,
.sort-selector,
.zip-input,
.title-input {
  @extend .form-inputs;
  width: 100%;
  min-width: auto;
  max-width: 300px;
}

@media screen and (max-width: $phone-media-max) {
  .filter-bar-container {
    position: relative;
    width: 100%;
    flex-direction: row;
  }
}

@media screen and (max-width: 375px) {
  .filter-bar-container {
    flex-direction: column;
  }
}
