@import "../_variables.scss";
@import "../partials.scss";

/* Recent job postings styling */
.recent-postings-container {
  width: 100%;
  margin-top: 2em;

  ul {
    list-style: none;
    padding: 0.5em 2em;
    li {
      margin-bottom: 10px;
    }
  }
  a {
    text-decoration: underline;
    color: #833f76;
  }
}

.recent-postings-title {
  padding-left: 1em;
}

.posting-card {
  width: 100%;
  min-height: 160px;
  padding: 0.5em;
  margin: 0em;
  border: 1px solid lightgray;
  border-radius: 0;
  box-shadow: 4px 4px 6px 0 lightgray;
}

.posting-content {
  width: 100%;
  height: 12em;
  display: flex;
}

.left-posting {
  width: 25%;
  height: 100%;
  min-width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .org-img {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .org-img-wrapper {
    height: auto;
    width: 95%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 70%;
  }
}

.middle-posting {
  width: 60%;
  height: 100%;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  overflow: hidden;
  margin: 0 0 0 20px;

  .job-info {
    flex: 1;
    align-items: center;
  }

  .bottom-posting {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

h4 {
  margin: 0.3em 0;
  padding: 0;
}

#posting-img {
  width: 90%;
  padding: 0.5em;
  border: 0.5px solid gray;
}

#edit-job-btn {
  @extend %button-shared;

  background: $light-color;
  border: 1px $light-color solid;
}

#view-more-btn {
  @extend %button-shared;

  background: $secondary-color;
  border: 1px $secondary-color solid;
  margin: 0 0 0 auto;
}

.posting-location-duration {
  flex: 0 0 10%;
  font-size: 0.8em;
}

.job-title-link:hover {
  cursor: pointer;
}

.posting-date {
  font-size: 0.8em;
}

@media screen and (max-width: 976px) {
  .posting-content {
    height: 14em;
  }
}

@media screen and (max-width: 765pc) {
  .job-info {
    overflow-y: auto;
  }
}

@media screen and (max-width: 550px) {
  .posting-card {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  .posting-content {
    flex-direction: column;
    padding: 0.5em;
    height: auto;
  }
  .left-posting {
    height: 100px;
    width: 100%;
    padding: 0;
    margin: 0.5em 0;

    .org-img-wrapper {
      .org-img {
        height: 100%;
        width: 100%;
      }
    }
  }
  .middle-posting {
    width: 100%;
    padding: 0;
    margin: 0;

    .bottom-posting {
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }
}

@media screen and (max-width: 450px) {
  .middle-posting .bottom-posting {
    display: block;
    flex-direction: column;
  }
}
