@import "../_variables.scss";

/* Recent job postings styling */
.recent-postings-container {
  width: 100%;
  margin-top: 2em;

  ul {
    list-style: none;
    padding: 0.5em 2em;
    li {
      margin-bottom: 10px;
    }
  }
  a {
    text-decoration: underline;
    color: blue;
  }
}

.recent-postings-title {
  padding-left: 1em;
}

.posting-card {
  width: 100%;
  padding: 0.5em;
  margin: 0em;
  border: 1px solid lightgray;
  border-radius: 0;
  box-shadow: 4px 4px 6px 0 lightgray;
}

%shared-padding {
  padding: 0 15px;
}

.posting-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 8em;
}

.left-posting {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .org-img-wrapper {
    height: auto;
    width: 95%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 70%;

    .org-img {
      height: 90%;
      width: 90%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}

.middle-posting {
  width: 60%;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;
}

h4 {
  margin: 0.3em 0;
  padding: 0;
}

#posting-img {
  width: 90%;
  padding: 0.5em;
  border: 0.5px solid gray;
}

.right-posting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15%;
  height: 100%;
  padding: 0.5em;
  align-items: flex-end;
}

.posting-btn-container {
  display: flex;
}

#edit-job-btn {
  font-family: $main-font;
  font-weight: bold;
  padding: 0.5em 1em;
  background: $light-color;
  border-radius: 0.4em;
  border: 1px $light-color solid;
  margin: auto 0.5em 0em auto;
  text-decoration: none;
  color: black;
  font-size: 13.3333px;
}

#view-more-btn {
  font-family: $main-font;
  font-weight: bold;
  padding: 0.5em 1em;
  background: $secondary-color;
  border-radius: 0.4em;
  border: 1px $secondary-color solid;
  margin: auto 0 0 auto;
}

@media screen and (max-width: 976px) {
  .posting-content {
    height: 12em;
  }
}
@media screen and (max-width: 550px) {
  .posting-content {
    flex-direction: column;
    padding: 0.5em;
    height: auto;
  }
  .left-posting {
    height: 200px;
    width: 100%;
    padding: 0;
    margin: 0.5em;

    .org-img-wrapper {
      .org-img {
        height: 100%;
        width: 100%;
      }
    }
  }
  .middle-posting {
    width: 100%;
    padding: 0;
    margin: 0.5em;
  }
  .right-posting {
    width: 100%;
    padding: 0;
    margin: 0.5em;
  }
}

.posting-location-duration {
  flex: 0 0 10%;
  font-size: 0.8em;
}

.posting-date {
  font-size: 0.8em;
}
