@import "../_variables.scss";

.navbar {
  font-size: calc(10px + 1.5vmin);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  #org-image {
    max-width: 240px;
    display: inline;
    margin: 0.25em 1.5em;
  }

  .burger-container {
    display: none;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    z-index: 100;

    ul {
      margin: 0;
      padding: 0;
      max-width: 750px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      li {
        margin: 15px;
        list-style: none;
      }

      .mobile-li {
        display: none;
      }

      .link {
        &.active {
          border-bottom: 0.2em $secondary-color solid;
        }
      }
    }
  }
}

@media screen and (max-width: $phone-media-max) {
  .navbar {
    font-size: calc(10px + 1.5vmin);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    z-index: 100;

    .image-span {
      display: inline-block;
      width: 100%;
      height: 100%;
      z-index: 150;
      background-color: $primary-color;

      #org-image {
        max-width: 240px;
        z-index: 151;
        float: right;
      }
      .burger-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 20%;
        max-width: 80px;
        float: left;

        .burger {
          height: 50px;
          width: 50px;

          .burger-layer {
            width: 100%;
            height: 5px;
            background-color: white;
            margin: 10px 0;
            transition: all 300ms;
          }
          .burger-top,
          .burger-bottom {
            border-radius: 5px;
            background-color: red;
          }
          .burger-top {
            transform: translate(0, 15px) rotate(45deg);
          }
          .burger-mid {
            display: none;
          }
          .burger-bottom {
            transform: rotate(-45deg);
          }
        }
      }
    }
    .nav-links {
      position: fixed;
      top: 85px;
      overflow: scroll;
      // max-height: calc(100% - 90px);
      left: 0;
      width: 100vw;
      padding: 10px;
      transition: 0.3s;
      z-index: -1;
      background-color: $primary-color;

      ul {
        margin: 0;
        padding: 0;
        justify-content: space-around;
        flex-direction: column;

        li {
          margin: calc(5px + 1.5vh);
          list-style: none;
        }

        .mobile-li {
          display: flex;
        }

        .link {
          &.active {
            border-bottom: 0.2em $secondary-color solid;
          }
        }
      }
    }

    .show {
      transform: translate(0, 0);
    }
    .hide {
      transform: translate(0, -450px);
    }
  }
}
