@import "../_variables.scss";

.organization-content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2em;
}

.organization-form-container {
  flex-grow: 0;
  flex-basis: 90%;
  padding: 0.5em;
}

@media screen and (min-width: 576px) {
  .organization-form-container {
    flex-basis: 80%;
    padding: 0.75em;
  }
}

@media screen and (min-width: 768px) {
  .organization-form-container {
    flex-basis: 60%;
    padding: 1em;
  }
}

/* Contact form styling */

.organization-label {
  margin-top: 1em;
  margin-bottom: 0;
}

.organization-input {
  width: 100%;
  margin-top: 0;
  padding: 0.5em 0.5em;
  border-radius: 0.5em;
  border: 1px lightgray solid;
  font-size: 1em;
}

.organization-error {
  margin-top: 0;
  color: red;
  font-size: 0.8em;
}

%button {
  font-family: $main-font;
  font-weight: bold;
  font-size: 1.2em;
  margin: 1em;
  padding: 0.3em 1em;
  border-radius: 0.3em;
}

#cancel-btn {
  @extend %button;
  border: 1px $light-color solid;
  background: $light-color;
}

#submit-btn {
  @extend %button;
  background: $secondary-color;
  border: 1px $secondary-color solid;
}

#delete-btn:hover {
  cursor: pointer;
}

.svg-inline--fa {
  height: 100%;
  & > path {
    color: $accent-color;
    background-color: blue;
  }
  &.fa-w-14 {
    width: 1.2em;
  }
}
