@import "../_variables.scss";

.banner {
  background-position: left;
}

.orgs-intro {
  padding: 2em;
  .intro-h2 {
    position: relative;
    font-size: 1.8em;
    margin-bottom: 0;
    font-weight: bolder;
    &:after {
      display: inline-block;
      margin: 0 20px 8px 0;
      height: 5px;
      content: " ";
      text-shadow: none;
      background-color: $secondary-color;
      width: 140px;
      position: absolute;
      bottom: -20px;
      left: 0;
    }
  }
}

.organization-cards-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 0;
  margin: 0 -0.5em;
  width: 100%;
}

#close-btn {
  font-family: $main-font;
  font-weight: bold;
  font-size: 1.2em;
  margin: 1em;
  padding: 0.3em 1em;
  background: $light-color;
  border-radius: 0.3em;
  border: 1px $light-color solid;
}

@media screen and (max-width: 976px) {
  .organization-cards-container {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 650px) {
  .organization-cards-container {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 500px) {
  .organization-cards-container {
    grid-template-columns: auto;
  }
}
