@import "../_variables.scss";

.banner {
  background-position: left;
}

.orgs-intro {
  padding: 2em;
  .intro-h2 {
    position: relative;
    font-size: 1.8em;
    margin-bottom: 0;
    font-weight: bolder;
    &:after {
      display: inline-block;
      margin: 0 20px 8px 0;
      height: 5px;
      content: " ";
      text-shadow: none;
      background-color: $secondary-color;
      width: 140px;
      position: absolute;
      bottom: -20px;
      left: 0;
    }
  }
}

.organizations-content {
  margin: 0.5em 2em 3em 2em;
  width: 96vw;

  .organizations-page-options {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 90%;

    .region-select-container {
      height: 30px;
      display: flex;
      align-items: center;
      .region-select {
        height: 100%;
        margin-left: 10px;
      }
    }

    .new-org-btn-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .new-organization-btn {
        font-family: $main-font;
        font-weight: bold;
        font-size: 1.2em;
        margin: 1em;
        padding: 0.3em 1em;
        color: black;
        border: 1px $secondary-color solid;
        background: $secondary-color;
        border-radius: 0.3em;
        border: 1px $secondary-color solid;
        text-align: center;
      }
    }
  }

  .organization-cards-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 0;
    margin: 0 -0.5em;
    width: 100%;
  }
}

@media screen and (max-width: 976px) {
  .organization-cards-container {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 650px) {
  .organizations-content {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .organizations-page-options {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      width: 100%;

      .region-select-container {
        padding: 0 1em;
      }

      .new-org-btn-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .new-organization-btn {
          width: 100%;
        }
      }
    }
    .organization-cards-container {
      width: 95%;
      grid-template-columns: auto;

      .organization-card {
        padding: 0.5em 0;
        margin-top: 0.25em;
      }
    }
  }
}

// @media screen and (max-width: 500px) {
//   .organization-cards-container {
//     grid-template-columns: auto;
//   }
// }
