@import "../_variables.scss";

.organization-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;

  .organization-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 100%;

    .organization-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;

      .back-button-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        .website-btn {
          color: black;
          text-decoration: none;
          margin-right: .5em;
        }
      }

      .org-link {
        a {
          color: blue;
          text-decoration: underline;
        }
      }

      h1 {
        color: $primary-color;
      }

      blockquote {
        width: 70%;
        font-size: 1.2em;
      }

      .organization-description {
        width: 80%;
        margin-bottom: 3em;
      }
    }

    .organization-contact {
      background-color: $light-color;
      width: 20%;
      min-width: 200px;
      max-width: 225px;
      padding: 10px;

      p {
        font-weight: bold;
      }
    }
  }

  @media (max-width: $phone-media-max) {
    font-size: 1em;
    .organization-content {
      flex-direction: column;
      height: auto;
      .organization-info {
        blockquote {
          font-size: 1em;
        }
      }

      .organization-contact {
        width: 100%;
        max-width: 100%;
        text-align: center;
        background-color: white;
      }
    }
  }
}

*, *:before, *:after{
    margin: 0;
    padding: 0;
    direction: ltr;
    box-sizing: border-box;
}

blockquote{
  font-size: 1.4em;
  width:60%;
  margin:50px auto;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid $secondary-color ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color: $secondary-color;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}