@import "../_variables.scss";

// side bar
// .filter-bar-container {
//   height: 100vh; /* Full-height: remove this if you want "auto" height */
//   width: 22vw; /* Set the width of the sidebar */
//   top: 10em;
//   padding: 1.5em;
//   background-color: $lightest-color;
// }

.filter-bar-container {
  position: sticky;
  position: -webkit-sticky;
  height: 25%; /* Full-height: remove this if you want "auto" height */
  width: 100%; /* Set the width of the sidebar */
  top: 0px;
  padding: 1em;
  background-color: $lightest-color;
  display: flex;
}

.filter-options {
  display: flex;
}

.filter-column {
  padding: 0.5em;
  // background-color: blue;
}

.filters-title {
  padding: 0.5em;
  margin-bottom: 0.5em;
  font-weight: 900;
}

.distance-selector {
  margin: 0.25em 0;
  padding: 0.7em;
  border-radius: 0.25em;
  border: 1px gray solid;
  background-color: white;
  width: 90%;
  height: 2.75em;
}

.distance-zip {
  margin: 0.25em 0;
  padding: 0.7em;
  border-radius: 0.25em;
  border: 1px gray solid;
  width: 90%;
  height: 2.75em;
}

.filter-criteria-title {
  margin: 0.4em 0;
  // background-color: red;
}

@media screen and (max-width: 765px) {
  .filter-bar-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (max-width: 450px) {
  .filter-bar-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr minmax(41px, auto);
    .filters-title {
      height: 25px;
      grid-column: 1;
    }
    .distance {
      grid-column: 1;
      grid-row: 2;
    }
    .employment-type {
      grid-column: 2;
      grid-row: 2;
    }
    .experience-level {
      grid-column: 3;
      grid-row: 2;
    }
  }
}
